@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.inputBlock{
    width: 100%;
    position: relative;
    flex: 0 0 85%;
    
}

.inputBlock input[type="text"] {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(238, 237, 245);
    border-radius: 50px;
    box-shadow: 0 0 5px 0px rgba(27, 45, 51,0.3) inset;
    padding: 0 25% 0 5%;
    font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.inputBlock input[type="button"] {
    
}

button {
    position: absolute;
    width: 20%;
    height: 80%;
    top: 10%;
    right: 5px;
    background-color: #3293aa;
    text-transform: uppercase;
    color: white;
    border-radius: 50px;
    font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 14px;
    transition: .5s ease;
}

.inputBlock input[type="button"]:hover {
    background-color: black;
}