.blockTitle {
    font-weight: 700;
    font-size: 18px;
    color: #333333;
    text-transform: capitalize;
    margin: 0 0 45px 0;
    position: relative;
}

.blockTitle::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    bottom: -10px;
    left: 0px;
    background-color: #3293ad;
}