.header {
    background-color: white;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 0 0 100%;
    align-items: center;
    padding: 10px 0 0 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 0 30%;
    justify-content: space-between;
    font-weight: 500;
    list-style-type: none;
}

.button {

    /*a {
            color: #404040;
            transition: all 0.2s linear;
            font-size: 16px;
            &:hover, &:focus{
                color: #67dcfb;
            
            }
        }*/
}

.logo {
    display: flex;
    flex: 0 0 39.98%;
    justify-content: center;
}

.userSearch {
    display: flex;
    flex: 0 0 30%;
    justify-content: flex-end;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 20px 0 0;
    border-bottom: 1px rgba(64, 64, 64, 0.5) solid;
}

.form_search {
    margin: 0;
    width: 200px;
    height: 20px;
}

.form_search input {
    font-family: "Roboto", sans-serif;
}

.form_button {
    margin: 0px 0 0 0;
}

.profile {}

.profile_image {}

.profile_image img {
    border-radius: 50%;
}

.selected {
    color: #3272ad;
}

.dropDown {
    position: fixed;
    top: 55px;
    right: inherit;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.1) ;
    border-radius: 10px;
    border-top-right-radius: 0px;
}

.dropDown::before {
    content: '';
    position: absolute;
    top: -4px;
    right: 10%;
    width: 6px;
    height: 6px;
    background-color: #FFFFFF;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    transform: rotate(-45deg);
}

.userNickname {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.dropDownItemList {
    list-style-type: none;
}

.dropDownItemList li {
    line-height: 24px;
    padding: 10px 15px;
    cursor: pointer;
}

.dropDownItemList li:hover {
    background-color: rgba(64, 64, 64, 0.1);
}
