.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
} 

.label {
    margin: 0 0 40px 0;
}

.label p {
    text-align: center;
}

.inputsContainer {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputLogin input,
.inputPassword input {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    letter-spacing: 1.5px;
}

.inputPassword input {
    margin: 20px 0 0 0;
}

.inputLogin input {   
}

.checkboxRemember {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
}

.checkboxRemember input {
    width: 18px;
    height: 18px;
    margin: 0 15px 0 0;
}

.buttonsContainer {
    margin: 50px 0 0 0  ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttonLogin {

}

.buttonRegister {

}

.buttonLogin button,
.buttonRegister button {
    padding: 10px 15px;
    border-radius: 0px  ;
}

.submitError {
    width: 100%;
    text-align: center;
    padding: 15px 0 0 0;
    color: #FD6161;
}